@use "@tntfx/theme";

.dialog.frame {
  $width: theme.$breakpoint-xs;
  $height: theme.ratio($width);

  &._active {
    z-index: theme.$layer-popup !important;
  }

  width: $width;
  min-width: min(90%, $width);
  max-width: max(90%, $width);

  height: $height;
  min-height: min(90%, $height);
  max-height: max(90%, $height);

  border: 2px solid red;

  .dialog-body {
    padding: theme.$spacing-md;
  }

  .dialog-footer {
    justify-content: flex-end;
    .button:not(.icon) {
      min-width: theme.$elementWidth-md;
    }
  }
}
