@use "@tntfx/theme";

.dialog {
  // width and height are calculated at frame level

  &.frame--active {
    z-index: theme.$layer-popup !important;
  }

  // width: $width;
  // min-width: min(90%, $width);
  // &:not(.status-maximized) {
  //   max-width: max(90%, $width);
  // }

  // height: $height;
  // min-height: min(90%, $height);
  // &:not(.status-maximized) {
  //   max-height: max(90%, $height);
  // }

  &__body {
    justify-content: center;
    padding: theme.$spacing-md;
  }

  // &__footer {
  //   justify-content: flex-end;
  //   .button:not(.icon) {
  //     min-width: theme.$elementWidth-md;
  //   }
  // }
}
