@import "@tntfx/theme";

%sticky {
  @include blur;
  position: sticky;
  z-index: $layer-window;
  right: 0;
  left: 0;
  background-color: var(--color-body-alpha);
  color: var(--color-body-alpha-text);

  * {
    background: transparent;
  }
}

.frame {
  position: absolute;
  z-index: $layer-window;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: $border-radius-md;
  background-color: var(--color-body);
  box-shadow: var(--shadow-lg);
  color: var(--color-body-text);

  .frame-wrapper {
    overflow: hidden;
    flex-direction: row;
    border-radius: inherit;
  }

  &.status {
    transition-duration: $animation-duration-sm;
    transition-property: top left width height transform;

    &-maximized {
      top: 0 !important;
      right: 0;
      bottom: 0;
      left: 0 !important;
      width: auto !important;
      height: auto !important;
    }
  }

  &-content {
    overflow: auto;
    // min-height: 100%;
    flex: 1;
    border-radius: inherit;
  }

  &-body {
    overflow: auto;
    // width: fit-content;
    // min-width: 100%;
    // height: fit-content;
    // min-height: 100%;
    flex: 1;
    background-color: var(--color-body);
    color: var(--color-body-text);
  }

  &-header {
    @extend %sticky;
    position: sticky;
    top: 0;
    height: $layout-height-element-lg;
    border-bottom: 1px solid var(--color-border);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    // &-placeholder {
    //   border: 2px solid red;
    // }
  }

  &-sidebar {
    // border: 2px solid red;
    border-right: 1px solid var(--color-border);

    // &-backdrop {
    // position: absolute !important;
    // border: 2px solid yellow;
    // }

    // &-placeholder {
    // border: 2px solid red;
    // }
  }

  &-footer {
    @extend %sticky;
    bottom: 0;
    height: $layout-height-element-md;
    border-top: 1px solid var(--color-border);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    // &-placeholder {
    //   border: 2px solid red;
    // }
  }
}
