@use "@tntfx/theme";

.frameControls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  .icon {
    align-self: flex-start;
    padding: theme.$spacing-xs;
    border-radius: 0;

    &-cross:not(:disabled) {
      &:hover {
        background-color: var(--color-error);
        color: var(--color-error-text);
      }
    }
  }
}
