@use "@tntfx/theme";
$minFrameWidth: theme.$breakpoint-sm;
$minFrameHeight: theme.$breakpoint-sm;
$minDialogWidth: theme.$breakpoint-xs;
$minDialogHeight: calc($minDialogWidth / 1.6);

.frame {
  $self: &;

  position: absolute;
  z-index: theme.$layer-window;
  right: 0;
  left: 0;
  overflow: hidden;
  width: max-content;
  min-width: $minFrameWidth;
  max-width: 90%;
  height: max-content;
  min-height: $minFrameHeight;
  max-height: 80%;
  border: 1px solid theme.$color-border;
  border-radius: theme.$borderRadius-sm;
  margin: auto;
  background-color: theme.$color-body;
  box-shadow: theme.$shadow-lg;
  color: theme.$color-body-text;

  &--initialized {
    right: auto;
    left: auto;
    width: auto;
    min-width: none;
    max-width: none;
    height: auto;
    min-height: none;
    max-height: none;
  }

  &--dialog {
    min-width: $minDialogWidth;
    min-height: $minDialogHeight;
  }

  &--static {
    box-shadow: none !important;
  }

  &--active {
    z-index: theme.$layer-window-active;
    border: 1px solid theme.$color-border;
    box-shadow: theme.$shadow-xxl;
  }

  &--sidebarOpen {
    #{$self}__content {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: row;
    border-radius: inherit;
  }

  &--maximized {
    top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0;
    box-shadow: none;

    desktop--with-taskbar & {
      @include theme.belowMedium {
        bottom: theme.$elementHeight-xl !important;
      }
      @include theme.aboveMedium {
        left: calc(1.25 * theme.$elementHeight-xl) !important;
      }
    }
  }

  &__content {
    overflow: auto;
    flex: 1;
    border-radius: inherit;
  }

  &__body {
    overflow: auto;
    flex: 1;
    background-color: theme.$color-body;
    color: theme.$color-body-text;
  }

  &__header {
    @include theme.blur(1.5rem);
    position: absolute;
    z-index: theme.$layer-window;
    top: 0;
    right: 0;
    left: 0;
    min-height: theme.$elementHeight-xl;
    border-radius: 0;
    border-bottom: 1px solid theme.$color-border;
    background-color: theme.$color-element-alpha;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: theme.$color-body-text;
  }

  &__sidebar {
    border-right: 1px solid theme.$color-border;
  }

  &__footer {
    @include theme.blur;
    position: absolute;
    z-index: theme.$layer-window;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
    border-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: theme.$color-body-text;
  }
}
