@use "@tntfx/theme";

.frameControls {
  position: absolute;
  z-index: theme.$layer-surface;
  top: 0;
  right: 0;
  bottom: 0;

  &__icon {
    width: auto !important;
    align-self: flex-start;
    padding: 0 theme.$spacing-sm;
    border-radius: 0;
    border-bottom: 1px solid theme.$color-border;
    border-left: 1px solid theme.$color-border;

    &:first-of-type {
      border-bottom-left-radius: theme.$borderRadius-xs;
    }

    &--cross:not(:disabled, .--disabled) {
      // .frame--active & {
      //   color: theme.$color-error;
      // }

      &:hover {
        background-color: theme.$color-error !important;
        color: theme.$color-error-text !important;
      }
    }
  }
}
