@use "@tntfx/theme";

.frameControls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  .icon {
    width: auto !important;
    align-self: flex-start;
    padding: 0 theme.$spacing-sm;
    border-radius: 0;
    border-bottom: 1px solid theme.$color-border;
    border-left: 1px solid theme.$color-border;

    &-cross:not(:disabled, .--disabled) {
      // .frame--active & {
      //   color: theme.$color-error;
      // }

      &:hover {
        background-color: theme.$color-error;
        color: theme.$color-error-text;
      }
    }
  }
}
