@use "@tntfx/theme";

.baseInput {
  position: relative;
  top: -2px;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__control {
    width: 100%;
    height: theme.$elementHeight-md;
    padding: 0 theme.$spacing-md;
    border: 0;
    caret-color: theme.$color-border;
    font-size: max(#{theme.$fontSize-md}, 16px);
    font-weight: theme.$fontWeight-sm;
    line-height: theme.$lineHeight-md;

    &[type="text"],
    &[type="number"],
    &[type="password"],
    &[type="email"] {
      -webkit-appearance: none;
      appearance: none;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  &__start,
  &__end {
    position: absolute;
    top: 4px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 theme.$spacing-sm;

    .icon {
      @include theme.size(theme.$size-sm);
    }
  }

  &__start {
    left: 0;
  }

  &__end {
    right: 0;
  }
}
