@use "@tntfx/theme" as *;

.base-input {
  position: relative;
  width: 100%;
  height: $layout-height-element;
  padding: 0 size(md);
  border: 0;
  caret-color: inherit;
  font-size: $font-size-md;
  font-weight: $font-weight-md;
  line-height: $line-height-md;
}
