@import "@tntfx/theme";

.form-element {
  @include disabled;
  @include hover;

  position: relative;
  display: flex;
  min-width: var(--layout-width-element-xl);
  height: $layout-height-element-md;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--color-border);
  border-radius: $border-radius-sm;

  /* for label animation, error and help texts */
  margin: size(lg);
  // background-color: var(--color-element-alpha);
  color: var(--color-element-alpha-text);
  // transition: background-color $animation-duration-sm) var(--animation-easing;

  .label {
    position: absolute;
    top: 50%;
    left: size(md);
    color: var(--color-element-alpha-text);
    filter: opacity(0.25);
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    transform: translate3d(0, -50%, 0);
    transition-duration: $animation-duration-sm;
    transition-property: top, left, transform;
    transition-timing-function: var(--animation-easing);
  }

  .hint {
    position: absolute;
    top: -2px;
    right: $border-radius-xs;
    color: var(--color-info);
    transform: translate3d(0, -100%, 0);
  }

  &.error {
    border-color: var(--color-error);
    color: var(--color-error);

    .hint {
      color: var(--color-error);
    }
  }

  &.focused,
  &:not(.pristine) {
    .label {
      top: -2px;
      left: $border-radius-xs;
      filter: opacity(0.75);
      transform: translate3d(-5px, -90%, 0) scale3d(0.9, 0.9, 1);
    }
  }

  &.focused {
    background-color: var(--color-element);
    color: var(--color-element-text);
  }

  &.disabled {
    background-color: var(--color-disabled);
    color: var(--color-disabled-text);
  }
}
