@use "@tntfx/theme";

.form {
  display: block;
  width: 100%;

  &__legend {
    padding: theme.$spacing-md;
    color: theme.$color-secondary;
    font-size: theme.$fontSize-lg;
  }

  .form-element {
    margin-bottom: theme.$spacing-xl;
  }

  > form {
    display: flex;
    flex-direction: column;
    padding: theme.$spacing-md;
    border-radius: theme.$borderRadius-sm;

    // nested form
    .form {
      padding-left: theme.$spacing-md;
    }
  }

  &__actions {
    justify-content: flex-end;
  }
}
