@use "@tntfx/theme" as *;

.form {
  display: block;
  width: 100%;

  .legend {
    padding-left: size(2xs);
  }

  > form {
    display: flex;
    flex-direction: column;
    padding: size(md);
    border-radius: $border-radius-sm;

    .form {
      padding-left: size(md);
    }
  }

  &._bordered > form {
    border: 1px solid var(--color-border);
  }
}
