@use "@tntfx/theme";

.formElement {
  $self: &;

  position: relative;
  display: flex;
  min-width: theme.$elementWidth-xl;
  min-height: theme.$elementHeight-md;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid theme.$color-border;
  border-radius: theme.$borderRadius-sm;

  /* for label animation, error and help texts */
  margin: theme.$spacing-lg;
  background-color: theme.$color-element-alpha;
  color: theme.$color-element-alpha-text;
  transition: background-color theme.$duration-sm theme.$animation-ease;

  &:not(.--pristine) {
    #{$self}__label {
      top: -3px;
      left: theme.$borderRadius-xs;
      filter: opacity(0.75);
      transform: translate3d(-5px, -90%, 0) scale3d(0.9, 0.9, 1);
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: theme.$spacing-md;
    color: theme.$color-element-alpha-text;
    filter: opacity(0.35);
    font-size: theme.$fontSize-md;
    font-weight: theme.$fontWeight-md;
    transform: translate3d(0, -50%, 0);
    transition-duration: theme.$duration-sm;
    transition-property: top, left, transform;
    transition-timing-function: theme.$animation-ease;
  }

  &__hint {
    position: absolute;
    top: -2px;
    right: theme.$borderRadius-xs;
    color: theme.$color-info;
    transform: translate3d(0, -100%, 0);
  }

  &--error {
    border-color: theme.$color-error;
    color: theme.$color-error;

    #{$self}__hint {
      color: theme.$color-error;
    }
  }

  &:is(.--focused, :focus) {
    background-color: theme.$color-element;
    color: theme.$color-element-text;
  }
}
