@use "@tntfx/theme";

.select {
  $self: &;

  &.--isOpen {
    background-color: theme.$color-element;
    color: theme.$color-element-text;
  }

  &__dorpdownIcon {
    position: absolute;
    top: 50%;
    right: theme.$borderRadius-xs;
    border-radius: 50%;
    background-color: theme.$color-element;
    pointer-events: none;
    transform: translateY(-50%) rotate(0deg);
    transition: transform theme.$duration-sm theme.$animation-ease;

    #{$self}:is(.--disabled, :disabled) & {
      display: none;
    }

    #{$self}:is(.--isOpen) & {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__menu {
    overflow: hidden;
    flex: 1;
    overflow-y: auto;

    .menu__headerItem,
    .menu__footerItem {
      @include theme.blur;
      position: sticky;
      z-index: theme.$layer-dropdown;
      top: 0;
    }
    .menu__footerItem {
      top: auto;
      bottom: 0;
    }
  }

  &__searchInput {
    min-width: auto;
    margin: theme.$spacing-xs;
  }
}
