@import "@tntfx/theme";

.select {
  .control-icon {
    position: absolute;
    top: 50%;
    right: var(--border-radius-xs);
    height: 100%;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform var(--animation-duration-sm);
  }

  &.is-open {
    background-color: var(--color-element);
    color: var(--color-element-text);

    &.is-dropdown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.is-dropup {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .control-icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &-dropdown {
    position: absolute;
    display: flex;
    overflow: hidden;
    max-height: 30vh;
    flex-direction: column;
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    color: var(--color-element-text);

    &-empty {
      padding: var(--layout-spacing-md);
      text-align: center;
    }

    &.is-dropdown {
      border-top: 0;
      border-bottom-left-radius: var(--border-radius-sm);
      border-bottom-right-radius: var(--border-radius-sm);
    }

    &.is-dropup {
      border-bottom: 0;
      border-top-left-radius: var(--border-radius-sm);
      border-top-right-radius: var(--border-radius-sm);
    }

    &-input {
      &::after {
        display: none;
      }
    }

    &-list {
      overflow: hidden;
      flex: 1;
      overflow-y: auto;
    }
  }
}

.select-backdrop {
  // css precedence
  // &.backdrop.overlay {
  //   @include fill(fixed);
  // }

  .select-dropdown {
    position: absolute;
    display: flex;
    overflow: hidden;
    max-height: 30vh;
    flex-direction: column;
    border: 1px solid var(--color-border);
    background-color: var(--color-element);

    &.is-dropdown {
      border-top: 0;
      border-bottom-left-radius: var(--border-radius-sm);
      border-bottom-right-radius: var(--border-radius-sm);
    }

    &.is-dropup {
      border-bottom: 0;
      border-top-left-radius: var(--border-radius-sm);
      border-top-right-radius: var(--border-radius-sm);
    }

    &-input {
      &.focused {
        background-color: var(--color-body);
        color: var(--color-body-color);
      }

      &::after {
        display: none;
      }
    }

    &-list {
      overflow: hidden;
      flex: 1;
      overflow-y: auto;
    }
  }
}
