@use "@tntfx/theme";

.textInput {
  border: 1px solid theme.$color-border;
  border-radius: theme.$borderRadius-sm;

  &::after {
    position: absolute;
    z-index: 1;
    right: -1px;
    bottom: -1px;
    left: -1px;
    height: 1px;
    background-color: theme.$color-primary;
    content: "";
    transform: scale3d(0, 1, 1);
    transition: transform theme.$duration-sm theme.$animation-ease;
  }

  &:is(.--focused, :focus):not(.--disabled, .--readonly) {
    background-color: theme.$color-element;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: theme.$color-element-text;
    transition: border-radius theme.$duration-sm theme.$animation-ease;

    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}
