@use "@tntfx/theme";

.toggle {
  $self: &;
  $size: calc(theme.$elementHeight-sm - theme.$spacing-sm);
  $indicatorSize: $size;
  $containerWidth: calc(2 * $size);
  $containerHeight: calc(4 * calc($indicatorSize / 5));
  $containerBorderRadius: calc($containerHeight / 2);
  $indicatorOffset: calc(-1 * calc(calc($indicatorSize - $containerHeight) / 2));

  &.formElement {
    max-width: max-content;
    flex-flow: row nowrap;
    align-items: center;
    padding: theme.$spacing-sm;
    border-color: transparent;

    .formElement__label {
      position: relative !important;
      top: unset !important;
      left: unset !important;
      flex: 1;
      padding-right: theme.$spacing-sm;
      filter: none !important;
      transform: none !important;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__container {
    position: relative;
    width: $containerWidth;
    min-width: theme.$elementWidth-sm;
    height: $containerHeight;
    border: 1px solid theme.$color-border;
    border-radius: $containerBorderRadius;
    background-color: theme.$color-element;
    transition-duration: theme.$duration-sm;
    transition-property: background-color, border-color;
    transition-timing-function: theme.$animation-ease;
  }

  &__indicator {
    position: absolute;
    top: calc($indicatorOffset - 1px);
    right: $size;
    left: -1px;
    overflow: hidden;
    width: $indicatorSize;
    height: $indicatorSize;
    border: 1px solid theme.$color-border;
    border-radius: 50%;
    background-color: theme.$color-element;
    transition-duration: theme.$duration-sm;
    transition-property: right, left, background-color, border-color;
    transition-timing-function: theme.$animation-ease;
  }

  &--checked {
    #{$self}__container {
      background-color: theme.$color-element-alt;
    }

    #{$self}__indicator {
      right: -1px;
      left: $size;
      border-color: theme.$color-primary;
      background-color: theme.$color-primary;
    }
  }

  // variants
  @each $accent in theme.$accents {
    &--checked.--#{$accent} {
      #{$self}__indicator {
        border-color: var(--color-#{$accent});
        background-color: var(--color-#{$accent});
      }
    }
  }
}
