@use "@tntfx/theme";

.toggle {
  $size: calc(theme.$layout-height-element-sm - theme.$spacing-sm);
  $indicatorSize: $size;
  $containerWidth: calc(2 * $size);
  $containerHeight: calc(4 * calc($indicatorSize / 5));
  $containerBorderRadius: calc($containerHeight / 2);
  $indicatorOffset: calc(-1 * calc(calc($indicatorSize - $containerHeight) / 2));

  &.form-element {
    max-width: max-content;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 theme.$spacing-sm;
    border-color: transparent;

    @include theme.hover;
    @include theme.disabled;

    .label {
      position: relative !important;
      top: unset !important;
      left: unset !important;
      flex: 1;
      padding-right: theme.$spacing-sm;
      filter: none !important;
      transform: none !important;
    }
  }

  &-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &-container {
    position: relative;
    width: $containerWidth;
    min-width: theme.$elementWidth-sm;
    height: $containerHeight;
    border: 1px solid var(--color-border-alpha);
    border-radius: $containerBorderRadius;
    background-color: var(--color-element);
  }

  &-indicator {
    position: absolute;
    top: calc($indicatorOffset - 1px);
    right: $size;
    left: -1px;
    overflow: hidden;
    width: $indicatorSize;
    height: $indicatorSize;
    border: 1px solid var(--color-border-alpha);
    border-radius: 50%;
    background-color: var(--color-element);
    transition-duration: theme.$duration-sm;
    transition-property: right, left, background-color;
  }

  &._checked {
    .toggle-container {
      background-color: var(--color-element-alt);
    }

    .toggle-indicator {
      right: -1px;
      left: $size;
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }
}
