@use "@tntfx/theme";

.context-menu {
  position: relative;

  &-backdrop {
    .menu {
      @include theme.blur;
      position: absolute;
      z-index: theme.$layer-context-menu;
      left: 0;
      overflow: hidden;
      min-width: 120px;
      border: 1px solid theme.$color-border;
      border-radius: theme.$borderRadius-xs;
      // background-color: theme.$color-element-alpha;
      overflow-y: auto;

      &.--align-bottom {
        border-top-left-radius: theme.$borderRadius-xxs;
        border-top-right-radius: theme.$borderRadius-xxs;
      }
    }
  }
}
