@use "@tntfx/theme";

.menu {
  display: flex;
  flex-flow: column nowrap;

  .menuItem {
    padding: 0 theme.$spacing-xs;
  }

  &.--horizontal {
    flex-flow: row nowrap;

    .menuItem {
      padding: theme.$spacing-xs 0;
    }
  }
}
