@use "@tntfx/theme";

.menu {
  position: relative;
  z-index: theme.$layer-sidebar;
  display: flex;
  overflow: visible;
  height: fit-content;
  flex-flow: column nowrap;
  transition-duration: theme.$duration-sm;
  transition-property: height;
  transition-timing-function: theme.$animation-ease;

  &.--horizontal {
    flex-flow: row nowrap;
  }

  &--submenu,
  &:not(.menu--static) {
    position: fixed;
    z-index: theme.$layer-contextMenu;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid theme.$color-border;
    border-radius: theme.$borderRadius-xxs;
    background-color: theme.$color-surface;
  }
}
