@use "@tntfx/theme";

%menu-item {
  position: relative;
  display: flex;
  width: 100%;
  height: theme.$layout-height-element;
  min-height: theme.$layout-height-element;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 theme.$spacing-sm;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-xs;
  text-align: start;

  &._has-icon {
    padding-left: 0;
  }

  > .link {
    display: flex;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 90%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-primary);
    content: "";
    transform: scale3d(0, 1, 1);
    transition: transform theme.$duration-sm theme.$animation-ease;
  }

  &.clickable {
    @include theme.hover;
    cursor: pointer;
    transition-duration: theme.$duration-sm;
    transition-property: background-color, color;
    transition-timing-function: theme.$animation-ease;
  }

  &.horizontal {
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;

    &::after {
      bottom: 15%;
      left: 0;
      width: 2px;
      height: 70%;
    }
  }

  &.selected:not(.disabled) {
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}

.menu-item {
  flex-direction: column;

  &__item {
    @extend %menu-item;
    @include theme.disabled;
  }
  &__children {
    padding-left: theme.$spacing-md;
  }
}
