/* stylelint-disable  */

@import "./lib";

:export {
  border_radius_lg: $borderRadius-lg;
  border_radius_md: $borderRadius-md;
  border_radius_sm: $borderRadius-sm;
  border_radius_xl: $borderRadius-xl;

  border_radius_xs: $borderRadius-xs;
  border_radius_xxl: $borderRadius-xxl;
  border_radius_xxxl: $borderRadius-xxxl;
  breakpoint_lg: $breakpoint-lg;
  breakpoint_md: $breakpoint-md;
  breakpoint_sm: $breakpoint-sm;
  breakpoint_xl: $breakpoint-xl;
  breakpoint_xs: $breakpoint-xs;
  breakpoint_xxl: $breakpoint-xxl;
  breakpoint_xxs: $breakpoint-xxs;
  color_active_text: $color-active-text;
  color_backdrop: $color-backdrop;
  color_body: $color-body;
  color_body_text: $color-body-text;
  color_border: $color-border;
  color_element: $color-element;
  color_element_alpha: $color-element-alpha;
  color_element_alpha_text: $color-element-alpha-text;
  color_element_alt: $color-element-alt;
  color_element_alt_text: $color-element-alt-text;
  color_element_text: $color-element-text;
  color_error: $color-error;
  color_error_text: $color-error-text;
  color_hover: $color-hover;
  color_hover_text: $color-hover-text;
  color_info: $color-info;
  color_info_text: $color-info-text;
  color_primary: $color-primary;
  color_primary_text: $color-primary-text;
  color_secondary: $color-secondary;
  color_secondary_text: $color-secondary-text;
  color_selected: $color-selected;
  color_selected_text: $color-selected-text;
  color_success: $color-success;
  color_success_text: $color-success-text;
  color_surface: $color-surface;
  color_surface_alt: $color-surface-alt;
  color_surface_alt_text: $color-surface-alt-text;
  color_surface_text: $color-surface-text;

  color_text: $color-text;
  color_text_alt: $color-text-alt;
  color_warning: $color-warning;
  color_warning_text: $color-warning-text;
  element_height_lg: $elementHeight-lg;
  element_height_md: $elementHeight-md;
  element_height_sm: $elementHeight-sm;
  element_height_xl: $elementHeight-xl;

  element_height_xs: $elementHeight-xs;
  element_height_xxl: $elementHeight-xxl;
  element_width_lg: $elementWidth-lg;
  element_width_md: $elementWidth-md;
  element_width_sm: $elementWidth-sm;
  element_width_xl: $elementWidth-xl;

  element_width_xs: $elementWidth-xs;
  element_width_xxl: $elementWidth-xxl;
  element_width_xxxl: $elementWidth-xxxl;

  font_family: $fontFamily;
  font_family_mono: $fontFamily-mono;

  font_size_lg: $fontSize-lg;
  font_size_md: $fontSize-md;
  font_size_sm: $fontSize-sm;
  font_size_xl: $fontSize-xl;
  font_size_xs: $fontSize-xs;
  font_size_xxl: $fontSize-xxl;
  font_size_xxs: $fontSize-xxs;
  font_size_xxxl: $fontSize-xxxl;

  font_weight_lg: $fontWeight-lg;
  font_weight_md: $fontWeight-md;
  font_weight_sm: $fontWeight-sm;
  font_weight_xl: $fontWeight-xl;
  font_weight_xs: $fontWeight-xs;
  font_weight_xxl: $fontWeight-xxl;
  font_weight_xxs: $fontWeight-xxs;
  font_weight_xxxl: $fontWeight-xxxl;

  layer_base: $layer-base;
  layer_context_menu: $layer-context-menu;
  layer_dropdown: $layer-dropdown;
  layer_element: $layer-element;
  layer_modal: $layer-modal;
  layer_popup: $layer-popup;
  layer_sidebar: $layer-sidebar;
  layer_toast: $layer-toast;
  layer_window: $layer-window;
  layer_window_active: $layer-window-active;

  line_height_lg: $lineHeight-lg;
  line_height_md: $lineHeight-md;
  line_height_sm: $lineHeight-sm;
  line_height_xl: $lineHeight-xl;
  line_height_xs: $lineHeight-xs;
  line_height_xxl: $lineHeight-xxl;
  line_height_xxs: $lineHeight-xxs;
  line_height_xxxl: $lineHeight-xxxl;

  shadow_lg: $shadow-lg;
  shadow_md: $shadow-md;
  shadow_sm: $shadow-sm;
  shadow_xl: $shadow-xl;
  shadow_xs: $shadow-xs;
  shadow_xxl: $shadow-xxl;

  size_lg: $size-lg;
  size_md: $size-md;
  size_sm: $size-sm;
  size_xl: $size-xl;
  size_xs: $size-xs;
  size_xxl: $size-xxl;
  size_xxxl: $size-xxxl;

  spacing_lg: $spacing-lg;
  spacing_md: $spacing-md;
  spacing_sm: $spacing-sm;
  spacing_xl: $spacing-xl;
  spacing_xs: $spacing-xs;
  spacing_xxl: $spacing-xxl;
  spacing_xxxl: $spacing-xxxl;
}
