* {
  -webkit-overflow-scrolling: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-sm);
  color: var(--color-secondary);
}

// *::-webkit-scrollbar-thumb:hover {
//   border: 1px solid red;
// }

::placeholder {
  filter: opacity(0.25);
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-md);
}

body {
  position: relative;
  background-color: var(--color-body);
  color: var(--color-body-text);
  font-family: inherit;
}

#__next {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@media (min-width: var(--breakpoint-xs)) {
  html {
    font-size: calc(14px + 4 * (100vw - var(--breakpoint-xs)) / var(--breakpoint-lg));
  }
}

@media (min-width: var(--breakpoint-xl)) {
  html {
    font-size: 18px;
  }
}

a {
  text-decoration: underline;
}

button {
  outline: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.775rem;
  white-space: pre;
}

// ANIMATION
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animation {
  &-rotate {
    animation-duration: calc(3 * var(--animation-duration-xxxl));
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
    transition-property: transform;
  }
}
