@use "@tntfx/theme";

.alert {
  @include theme.blur;
  min-width: min(100%, theme.$elementWidth-xl);
  max-width: 100%;
  padding: theme.$spacing-md;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-sm;

  &__content {
    flex: 1;
  }

  &__icon {
    width: theme.$size-sm;
    height: theme.$size-sm;
    margin-right: theme.$spacing-md;
  }

  &__title {
    font-weight: theme.$fontWeight-xl;
    white-space: nowrap;
  }

  &__message {
    padding-left: theme.$spacing-md;
    font-size: theme.$fontSize-sm;
  }

  &__actions {
    align-self: flex-end;
  }
}
