@use "@tntfx/theme" as *;

.alert {
  @include blur;
  min-width: var(--layout-width-element-3xl);
  padding: size(sm);

  border: 1px solid transparent;
  border-radius: $border-radius-sm;

  &-icon {
    width: size(xl);
    height: size(xl);
    margin-right: size(md);
  }

  &-title {
    white-space: nowrap;
  }

  &.type-error {
    border-color: var(--color-error-alpha);

    .alert-icon {
      color: var(--color-error);
    }
  }
}
