@use "@tntfx/theme";

.alert {
  @include theme.blur;
  min-width: theme.$elementWidth-xl;
  padding: theme.$spacing-sm;

  border: 1px solid transparent;
  border-radius: theme.$borderRadius-sm;

  &-icon {
    width: theme.$size-xl;
    height: theme.$size-xl;
    margin-right: theme.$spacing-md;
  }

  &-title {
    white-space: nowrap;
  }

  &.type-error {
    border-color: var(--color-error-alpha);

    .alert-icon {
      color: var(--color-error);
    }
  }
}
