@use "@tntfx/theme";

.avatar {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 50%;

  > img {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
  }

  &-abbr {
    font-size: 200%;
    font-weight: theme.$fontWeight-lg;
    text-align: center;
    text-transform: uppercase;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}
