@use "@tntfx/theme";

.backdrop {
  @include theme.fill(absolute);
  z-index: theme.$layer-modal;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  pointer-events: all;
  transition-timing-function: theme.$animation-ease;

  &.--bg-blur {
    @include theme.blur(0.25rem);
  }

  &.--bg-default {
    background-color: var(--color-backdrop);
  }

  &.--global {
    position: fixed !important;
  }

  &.--no-overlay {
    position: relative;
  }

  &.animation--zoom {
    border-radius: 10rem;
    transform: scale3d(0, 0, 0);
    transition-duration: theme.$duration-xs;
    transition-property: transform, border-radius;
  }

  &.animation--slide-right {
    // transform: translate3d(-110%, 0, 0);
    width: 0;
    transition-duration: theme.$duration-md;
    transition-property: width;
  }

  &.animation--slide-up {
    // transform: translate3d(-110%, 0, 0);
    height: 0;
    transition-duration: theme.$duration-md;
    transition-property: width;
  }

  &.--visible {
    &.animation--zoom {
      border-radius: 0;
      transform: scale3d(1, 1, 1);
    }

    &.animation--slide-right {
      // transform: translate3d(0, 0, 0);
      // left: 0;
      width: 100%;
    }

    &.animation--slide-up {
      // transform: translate3d(0, 0, 0);
      // left: 0;
      height: 100%;
    }
  }
}
