@use "@tntfx/theme";

.backdrop {
  @include theme.fill(absolute);
  z-index: theme.$layer-backdrop;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  // transition-duration: theme.$duration-sm;
  // transition-property: width, height, top, transform;
  // transition-timing-function: theme.$animation-ease;

  &__body {
    @include theme.fill(absolute);
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: transparent;
    pointer-events: all;
    transition-duration: theme.$duration-sm;
    transition-property: left, top;
    transition-timing-function: theme.$animation-ease;
  }

  &.--bg-blur {
    @include theme.blur(0.25rem);
  }

  &.--bg-default {
    background-color: theme.$color-backdrop;
  }

  &.--global {
    position: fixed !important;
  }

  &.--noOverlay {
    position: relative;
  }

  &.--animation {
    &-zoom {
      transform: scale3d(0, 0, 0);

      &.--visible {
        transform: scale3d(1, 1, 1);
      }
    }

    &-slideRight {
      width: 0;

      .backdrop__body {
        left: -100%;
      }

      &.--visible {
        width: 100%;

        .backdrop__body {
          left: 0;
        }
      }
    }

    &-slideUp {
      top: 100%;
      height: 0;

      /* stylelint-disable-next-line no-descending-specificity */
      .backdrop__body {
        top: 100%;
      }

      &.--visible {
        top: 0;
        height: 100%;

        .backdrop__body {
          top: 0;
        }
      }
    }
  }
}
