@use "@tntfx/theme";

.badge-wrapper.box {
  $badge-size: 1rem;
  $badge-offset: 0.25rem;

  overflow: visible;
  width: fit-content;
  height: fit-content;

  .badge.box {
    position: absolute;
    top: -1 * $badge-offset;
    right: -1 * $badge-offset;
    overflow: hidden;
    width: $badge-size;
    height: $badge-size;
    align-items: center;
    justify-content: center;
    border-radius: $badge-size;
    background-color: theme.$color-error;
    color: theme.$color-error-text;
  }
}
