@use "@tntfx/theme";

.button {
  position: relative;
  display: flex;
  overflow: hidden;
  min-width: fit-content;
  height: theme.$elementHeight-md;
  min-height: theme.$elementHeight-md;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 theme.$spacing-md;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-sm;
  -webkit-appearance: none;
  appearance: none;
  color: theme.$color-body-text;
  font-size: theme.$fontSize-sm;
  font-weight: theme.$fontWeight-sm;
  outline: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  white-space: nowrap;

  &__loader {
    .loader__circle {
      width: theme.$size-sm;
      height: theme.$size-sm;
    }
  }

  &__slot {
    width: theme.$size-sm;
    height: theme.$size-sm;

    &--start {
      margin-right: theme.$spacing-sm;
    }

    &--end {
      margin-left: theme.$spacing-sm;
    }
  }
}
