@use "@tntfx/theme";

.button {
  @include theme.disabled;
  @include theme.unSelectable;

  outline: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  appearance: none;

  position: relative;
  display: flex;
  overflow: hidden;
  min-width: fit-content;
  height: theme.$layout-height-element;
  min-height: theme.$layout-height-element;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 theme.$spacing-md;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-sm;
  color: var(--color-body-text);
  font-size: theme.$fontSize-sm;
  font-weight: theme.$fontWeight-sm;
  text-transform: uppercase;
  white-space: nowrap;
}
