@use "@tntfx/theme";

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: theme.$spacing-md 0;

  &__time {
    font-weight: theme.$fontWeight-sm;
  }
}
