@use "@tntfx/theme" as *;

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: size(md 0);

  &-time {
    font-weight: $font-weight-sm;
  }
}
