@import "@tntfx/theme";

.icon {
  $textOffset: 2px;

  @include disabled;
  display: inline-flex;
  min-width: var(--icon-size-sm);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: var(--layout-spacing-sm);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);

  &.variant-primary {
    color: var(--color-primary);
  }
  &.variant-secondary {
    color: var(--color-secondary);
  }
  &.variant-destructive {
    color: var(--color-error);
  }

  &.clickable {
    cursor: pointer;
  }

  &.type {
    &-error {
      color: var(--color-error);
    }
  }

  .text {
    margin: $textOffset 0 0 0;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-sm);
    white-space: nowrap;
  }

  &.layout-horizontal {
    flex-flow: row nowrap;

    .text {
      margin: 0 0 0 $textOffset;
    }
  }
}
