@use "@tntfx/theme";

.icon {
  $textOffset: 2px;

  @include theme.disabled;
  display: inline-flex;
  width: theme.$size-md;
  height: theme.$size-md;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: theme.$spacing-sm;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-sm;

  &.clickable {
    cursor: pointer;
  }

  .text {
    margin: $textOffset 0 0 0;
    font-size: theme.$fontSize-md;
    font-weight: theme.$fontWeight-sm;
    white-space: nowrap;
  }

  &.layout-horizontal {
    flex-flow: row nowrap;

    .text {
      margin: 0 0 0 $textOffset;
    }
  }
}
