@use "@tntfx/theme";

.loader {
  &__circle {
    width: theme.$size-md;
    height: theme.$size-md;
    border: 2px solid theme.$color-border;
    border-radius: 50%;
    border-top-color: theme.$color-primary;
  }

  &.--primary {
    .loader__circle {
      border-top-color: theme.$color-primary;
    }
  }

  &.--secondary {
    .loader__circle {
      border-top-color: theme.$color-secondary;
    }
  }

  &.--destructive {
    .loader__circle {
      border-top-color: theme.$color-error;
    }
  }
}
