@use "@tntfx/theme";

.loader {
  &__circle {
    width: theme.$size-md;
    height: theme.$size-md;
    border: 2px solid var(--color-border-alpha);
    border-radius: 50%;
    border-top-color: var(--color-primary);
  }

  &.--primary {
    .loader__circle {
      border-top-color: var(--color-primary);
    }
  }

  &.--secondary {
    .loader__circle {
      border-top-color: var(--color-secondary);
    }
  }

  &.--destructive {
    .loader__circle {
      border-top-color: var(--color-error);
    }
  }
}
