@use "@tntfx/theme";

.svg {
  display: inline-block;
  width: theme.$size-md;
  max-width: unset;
  height: theme.$size-md;
  aspect-ratio: 1 / 1;

  &,
  * {
    color: inherit;
    stroke: currentColor;
    stroke-width: 1px;
    -webkit-tap-highlight-color: transparent;

    &[stroke="none"] {
      stroke-width: 0;
    }
  }

  &.size-xSmall {
    width: theme.$size-xs;
    height: theme.$size-xs;
  }
  &.size-small {
    width: theme.$size-sm;
    height: theme.$size-sm;
  }

  &.size-large {
    width: theme.$size-lg;
    height: theme.$size-lg;
  }

  &.size-xLarge {
    width: theme.$size-xl;
    height: theme.$size-xl;
  }

  // SPECIALS
  &.svg-maximize,
  &.svg-restoreMaximize {
    padding: 10% 4%;
  }
}
