@use "@tntfx/theme" as *;

.svg {
  display: inline-block;
  width: size(md);
  max-width: unset;
  height: size(md);
  aspect-ratio: 1 / 1;

  &,
  * {
    color: inherit;
    stroke: currentColor;
    stroke-width: 1px;
    -webkit-tap-highlight-color: transparent;

    &[stroke="none"] {
      stroke-width: 0;
    }
  }

  &.size-xSmall {
    width: size(xs);
    height: size(xs);
  }
  &.size-small {
    width: size(sm);
    height: size(sm);
  }

  &.size-large {
    width: size(lg);
    height: size(lg);
  }

  &.size-xLarge {
    width: size(xl);
    height: size(xl);
  }

  // SPECIALS
  &.svg-maximize,
  &.svg-restoreMaximize {
    padding: 10% 4%;
  }
}
