@use "@tntfx/theme";

.markdown {
  overflow: auto;
  flex: 1;

  h1 {
    font-size: theme.$fontSize-xl;
    font-weight: theme.$fontWeight-lg;
    line-height: theme.$lineHeight-xl;
  }

  h2 {
    font-size: theme.$fontSize-lg;
    font-weight: theme.$fontWeight-md;
    line-height: theme.$lineHeight-lg;
  }

  strong {
    font-weight: theme.$fontWeight-md;
  }

  ul {
    padding: theme.$spacing-sm;
  }

  em {
    font-style: italic;
  }

  p {
    padding: theme.$spacing-sm;
    font-size: theme.$fontSize-md;
    font-weight: theme.$fontWeight-md;
    line-height: theme.$lineHeight-md;
    text-indent: 0.2rem;
  }
}
