@use "@tntfx/theme";

.toolbar {
  @include theme.unSelectable;
  z-index: theme.$layer-window;
  overflow: visible;
  width: 100%;
  min-height: theme.$layout-height-footer;
  max-height: theme.$layout-height-header;
  border-radius: inherit;
  white-space: nowrap;

  &__title {
    padding-left: theme.$spacing-md;
  }

  &.--as-header {
    height: theme.$layout-height-header;
    min-height: theme.$layout-height-header;

    > .toolbarSection {
      &:last-of-type:not(:first-of-type) {
        justify-content: flex-end;
      }
    }
  }

  &.--as-footer {
    height: theme.$layout-height-footer;
    max-height: theme.$layout-height-footer;

    > .toolbarSection {
      justify-content: flex-end;
    }
  }
}
