@use "@tntfx/theme";

.toolbar-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  .icon {
    @include theme.hover;
    align-self: flex-start;
    border-radius: 0;
    padding: theme.$spacing-xs;

    &-cross:not(:disabled) {
      &:hover {
        background-color: var(--color-error);
        color: var(--color-error-text);
      }
    }
  }
}
