@use "@tntfx/theme";

.toolbar {
  @include theme.row;
  z-index: theme.$layer-surface;
  overflow: visible;
  height: theme.$elementHeight-xl;
  min-height: theme.$elementHeight-xl;
  border-radius: inherit;
  white-space: nowrap;

  &__title {
    padding-left: theme.$spacing-md;
  }
}
