@import "@tntfx/theme";

.card {
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);

  &-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .toolbar-title {
      padding-left: var(--layout-spacing-md);
    }
  }

  &-body {
    @include withTitlebarPadding;
    overflow: auto;
    flex: 1;
  }
}
