@use "@tntfx/theme";

.toast-container {
  @include theme.fill(absolute);
  z-index: theme.$layer-toast;
  display: flex;
  overflow: hidden;
  flex-flow: column-reverse nowrap;
  align-items: center;
  padding: theme.$spacing-2xl;
  pointer-events: none;
}
