@use "@tntfx/theme" as *;

.toast-container {
  @include fill(absolute);
  z-index: $layer-toast;
  display: flex;
  overflow: hidden;
  flex-flow: column-reverse nowrap;
  align-items: center;
  padding: size(2xl);
  pointer-events: none;
}
