@use "@tntfx/theme" as *;

.toast {
  @include boxShadow(md);
  z-index: $layer-toast;
  border: 1px solid var(--color-border);
  background-color: rgba(var(--color-element) / 0.15);
  color: var(--color-element-text);
  pointer-events: all;
}
