@use "@tntfx/theme";

:root {
  color-scheme: light;

  --shadow-strength: 1%;
  --shadow-color: 220 3% 15%;

  --color-text: #434454;
  --color-text-alt: #f5f7fa;

  --color-primary: #007bff;
  --color-primary-text: var(--color-text-alt);
  --color-secondary: #6c757d;
  --color-secondary-text: var(--color-text);

  --color-info: #17a2b8;
  --color-info-text: var(--color-text-alt);
  --color-success: #28a745;
  --color-success-text: var(--color-text-alt);
  --color-warning: #ffc107;
  --color-warning-text: var(--color-text);
  --color-error: #dc3545;
  --color-error-text: var(--color-text-alt);

  --color-backdrop: #43445422;
  --color-border: #c3c3c3;
  --color-body: #f5f7fa;
  --color-body-text: var(--color-text);
  --color-surface: #e6e9ed;
  --color-surface-text: var(--color-text);
  --color-surface-alt: #c6c9cd;
  --color-surface-alt-text: var(--color-text);
  --color-element: #fcfcfc;
  --color-element-text: var(--color-text);
  --color-element-alpha: #ccd1d9aa;
  --color-element-alpha-text: var(--color-text);
  --color-element-alt: #aab2bd;
  --color-element-alt-text: var(--color-text-alt);

  --color-selected: #007bff88;
  --color-selected-text: var(--color-text-alt);
  --color-hover: #007bff11;
  --color-hover-text: var(--color-text);
  --color-active-text: #6c757d;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @extend %dark;
//   }
// }

.--darkMode {
  color-scheme: dark;

  --shadow-strength: 10%;
  --shadow-color: 220 3% 15%;

  --color-text: #f5f7fa;
  --color-text-alt: #434454;
}
