@use "@tntfx/theme";

.icon {
  $textOffset: 2px;

  display: inline-flex;
  width: theme.$size-sm;
  height: theme.$size-sm;
  align-items: center;
  justify-content: center;
  padding: theme.$spacing-xs;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-xs;

  &__svg {
    display: block;
    width: 100%;
    max-width: unset;
    height: 100%;
    aspect-ratio: 1 / 1 !important;

    &,
    * {
      color: inherit;
      stroke: currentColor;
      stroke-width: 1px;
      -webkit-tap-highlight-color: transparent;

      &[stroke="none"] {
        stroke-width: 0;
      }
    }
  }
}
