.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--layout-spacing-md) 0;

  &-time {
    font-weight: var(--font-weight-sm);
  }
}
