@import "@tntfx/theme";

.spacer {
  &:not(.horizontal) {
    height: var(--layout-spacing-md);

    @each $key, $value in $sizeMap {
      &.size-#{$key} {
        height: var(--layout-spacing-#{$value});
        min-height: var(--layout-spacing-#{$value});
      }
    }
  }

  &.horizontal {
    width: var(--layout-spacing-md);

    @each $key, $value in $sizeMap {
      &.size-#{$key} {
        width: var(--layout-spacing-#{$value});
        min-width: var(--layout-spacing-#{$value});
      }
    }
  }
}
