@use "@tntfx/theme";

$sidebarMinWidth: theme.$breakpoint-xxs;
$sidebarMaxWidth: theme.$breakpoint-sm;

.sidebar {
  display: flex;
  width: fit-content;
  min-width: $sidebarMinWidth;
  max-width: $sidebarMaxWidth;
  height: 100%;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: var(--color-body);
  color: var(--color-body-text);

  &.blur {
    @include theme.blur(2rem);
    background-color: var(--color-body-alpha);
    color: var(--color-body-alpha-text);
  }

  &__backdrop {
    z-index: theme.$layer-sidebar;
    min-height: 100%;
    max-height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    &.--visible.--no-overlay {
      width: fit-content;
      min-width: $sidebarMinWidth;
      max-width: $sidebarMaxWidth;
      background-color: transparent;
    }

    &.__with-body {
      background: var(--color-element);

      &.open:not(.overlay) {
        width: 100%;
        max-width: none;
      }
    }
  }

  &__body {
    flex: 1;
    border-radius: theme.$borderRadius-md;
    margin: theme.$spacing-md;
    margin-left: 0;
  }
}
