@use "sass:math";
@use "@tntfx/theme";

$sidebarMinWidth: math.floor(theme.$breakpoint-xxs * 0.75);
$sidebarMaxWidth: theme.$breakpoint-xxs;

.sidebar {
  display: flex;
  width: fit-content;
  min-width: min($sidebarMinWidth, 100%);
  max-width: min($sidebarMaxWidth, 100%);
  height: 100%;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  // border-right: 1px solid theme.$color-border;
  background-color: theme.$color-body;
  color: theme.$color-body-text;

  &.blur {
    @include theme.blur(2rem);
    background-color: theme.$color-body;
    color: theme.$color-body-text;
  }

  &__backdrop {
    z-index: theme.$layer-sidebar;
    min-height: 100%;
    max-height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    &.--visible.--noOverlay {
      width: fit-content;
      min-width: $sidebarMinWidth;
      max-width: $sidebarMaxWidth;
      background-color: transparent;
    }

    &.--withBody {
      background: theme.$color-element;

      &.--visible.--noOverlay {
        width: 100%;
        max-width: none;
      }
    }
  }

  &__body {
    flex: 1;
    border-radius: theme.$borderRadius-md;
    margin: theme.$spacing-md;
    margin-left: 0;
  }
}
