@use "@tntfx/theme";

.tableHeader {
  &--parent-row {
    border-bottom-color: transparent;

    > th {
      padding-bottom: theme.$spacing-xs;
    }
  }

  &--nested {
    > th {
      padding-top: theme.$spacing-xs;
    }
  }

  &--divider {
    border-left: 1px solid theme.$color-border;
  }
}
