@use "@tntfx/theme";

.tableRow {
  border: 0;
  border-bottom: 1px solid theme.$color-border;
  background-color: theme.$color-element;
  color: theme.$color-element-text;
  transition: background-color theme.$duration-md theme.$animation-ease();
}
