@use "@tntfx/theme" as *;

.table-wrapper {
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: $border-radius-sm;
  background: var(--color-surface);
  color: var(--color-surface-text);

  > .table-pagination {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid var(--color-border-alpha);
  }
}

.table {
  min-width: 100%;
  border: 0;
  column-span: none;

  .table-cell {
    position: relative;
    overflow: hidden;
    padding: size(sm);
    cursor: default;
    font-size: $font-size-sm;
    font-weight: $font-weight-sm;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    &._header {
      padding: size(md);
      font-weight: $font-weight-md;
      text-transform: uppercase;
    }
    &._divider {
      border-left: 1px solid var(--color-border);
    }
  }

  > tbody > .table-row {
    @include hover;
    background-color: var(--color-element);
    color: var(--color-element-text);
    transition: background-color $animation-duration-md $animation-easing;
  }

  > tbody > .table-row._selected {
    background-color: var(--color-selected);
    color: var(--color-selected-text);
  }

  > thead > .table-row {
    border-bottom: 1px solid var(--color-border);

    &._parent-row {
      border-bottom-color: transparent;

      > th {
        padding-bottom: 0;
      }
    }

    &._nested {
      > th {
        padding-top: size(xs);
      }
    }
  }

  > tbody > .table-row._odd-row:not(._selected) {
    background-color: var(--color-element-alt);
    color: var(--color-element-alt-text);
  }
}

.table-container {
  position: relative;
  overflow: auto;
  width: 100%;

  > .table {
    min-width: 100%;
  }
}
