@use "@tntfx/theme";

.table {
  $self: &;

  overflow: hidden;
  border: 1px solid theme.$color-border;
  border-radius: theme.$borderRadius-sm;
  background: theme.$color-surface;
  color: theme.$color-surface-text;

  &__title {
    width: 100%;
    padding: theme.$spacing-md;
    border-bottom: 1px solid theme.$color-border;
  }

  &__container {
    position: relative;
    overflow: auto;
    width: 100%;
    // scrollbar
    padding-right: theme.$spacing-lg;
    padding-bottom: theme.$spacing-lg;
  }

  &__element {
    min-width: 100%;
    border: 0;
    column-span: none;

    &__body {
      .tableRow:nth-child(2n + 1):not(.--selected) {
        background-color: theme.$color-element-alt;
        color: theme.$color-element-alt-text;
      }
    }
  }

  &__caption {
    width: 100%;
    text-align: center;
  }
}
