@use "@tntfx/theme";

.tableCell {
  position: relative;
  overflow: hidden;
  height: theme.$elementHeight-md;
  min-height: theme.$elementHeight-md;
  padding: theme.$spacing-sm theme.$spacing-md;
  cursor: default;
  font-size: theme.$fontSize-sm;
  font-weight: theme.$fontWeight-sm;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &--header {
    padding-top: theme.$spacing-lg;
    font-weight: theme.$fontWeight-lg;
    text-transform: uppercase;
  }
}
