@use "@tntfx/theme";

.tvl {
  padding: theme.$spacing-sm;
  background-color: var(--color-element);
  color: var(--color-element-text);

  &-item {
    padding: theme.$spacing-sm;

    &-title {
      display: block;
      color: var(--color-primary);
    }

    &-value {
      padding-left: theme.$spacing-lg;
    }
  }
}
