@use "@tntfx/theme" as *;

.tvl {
  padding: size(sm);
  background-color: var(--color-element);
  color: var(--color-element-text);

  &-item {
    padding: size(sm);

    &-title {
      display: block;
      color: var(--color-primary);
    }

    &-value {
      padding-left: size(lg);
    }
  }
}
