@use "@tntfx/theme";

.tvl {
  padding: theme.$spacing-sm;
  background-color: theme.$color-element;
  color: theme.$color-element-text;

  &-item {
    padding: theme.$spacing-sm;

    &-title {
      display: block;
      color: theme.$color-primary;
    }

    &-value {
      padding-left: theme.$spacing-lg;
    }
  }
}
