@use "../lib" as theme;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// *::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
//   background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   border-radius: theme.$borderRadius-sm;
//   background-color: var(--color-element);
//   border: 1px solid var(--color-border-element);
// }

// *::-webkit-scrollbar-thumb:hover {
//   border: 1px solid var(--color-border);
// }

::placeholder {
  filter: opacity(0.25);
}

@include theme.aboveMedium {
  html {
    font-size: calc(14px + calc(4 * calc(100vw - theme.$breakpoint-xs) / theme.$breakpoint-lg));
  }
}
@include theme.aboveLarge {
  html {
    font-size: 18px;
  }
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  user-select: none;
}

html {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  font-family: theme.$fontFamily;
}

body {
  max-width: 100%;
  // min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: inherit;
  font-size: theme.$fontSize-md;
  font-weight: theme.$fontWeight-md;
  position: relative;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: var(--color-body);
  color: var(--color-body-text);
  line-height: theme.$lineHeight-md;
  display: flex;
  flex-direction: column;
}

pre,
code {
  font-family: theme.$fontFamily-mono;
  font-size: theme.$fontSize-sm;
  white-space: pre;
}
