@use "../lib/colors";

$white: #f5f5f5;
$black: #1f242e;

$color-text: #{$black};
$color-text-alt: #{$white};
$color-primary: #007bff;
$color-primary-alpha: #{colors.alpha(var(--color-primary), 20%)};
$color-primary-text: var(--color-text);
$color-secondary: #6c757d;
$color-secondary-text: var(--color-text);
$color-body: #f8f9fa;
$color-body-text: var(--color-text);
$color-body-alpha: #{colors.alpha(var(--color-body), 20%)};
$color-body-alpha-text: var(--color-text);
$color-surface: #e2e3e5;
$color-surface-text: var(--color-text);
$color-element: #e8e9ea;
$color-element-text: var(--color-text);
$color-element-alpha: #{colors.alpha(var(--color-element), 40%)};
$color-element-text: var(--color-text);
$color-element-alt: #f8f9fa;
$color-element-alt-text: var(--color-text);
$color-backdrop: #{colors.alpha(var(--color-body), 30%)};
$color-info: #17a2b8;
$color-info-text: var(--color-text);
$color-success: #28a745;
$color-success-text: var(--color-text);
$color-warning: #ffc107;
$color-warning-text: var(--color-text-alt);
$color-error: #dc3545;
$color-error-text: var(--color-text-alt);
$color-border: #dadbdc;
$color-border-alpha: #{colors.lighten(var(--color-border), 40%)};

// @media (prefers-color-scheme: light) {
:where(html) {
  color-scheme: light;

  --color-text: #{$black};
  --color-text-alt: #{$white};

  --shadow-strength: 1%;
  --shadow-color: 220 3% 15%;

  --color-primary: #{$color-primary};
  --color-primary-alpha: #{colors.alpha(var(--color-primary), 20%)};
  --color-primary-text: var(--color-text);
  --color-secondary: #{$color-secondary};
  --color-secondary-text: var(--color-text);
  --color-body: #{$color-body};
  --color-body-text: var(--color-text);
  --color-body-alpha: #{colors.alpha(var(--color-body), 20%)};
  --color-body-alpha-text: var(--color-text);
  --color-surface: #{$color-surface};
  --color-surface-text: var(--color-text);
  --color-element: #{$color-element};
  --color-element-text: var(--color-text);
  --color-element-alpha: #{colors.alpha(var(--color-element), 40%)};
  --color-element-text: var(--color-text);
  --color-element-alt: #{$color-element-alt};
  --color-element-alt-text: var(--color-text);
  --color-backdrop: #{colors.alpha(var(--color-body), 30%)};
  --color-info: #{$color-info};
  --color-info-text: var(--color-text);
  --color-success: #{$color-success};
  --color-success-text: var(--color-text);
  --color-warning: #{$color-warning};
  --color-warning-text: var(--color-text-alt);
  --color-error: #{$color-error};
  --color-error-text: var(--color-text-alt);
  --color-border: #{$color-border};
  --color-border-alpha: #{colors.alpha(var(--color-border), 20%)};
}
// }

@media (prefers-color-scheme: dark) {
  :where(html) {
    color-scheme: dark;

    --color-text: #{$white};
    --color-text-alt: #{$black};

    --shadow-strength: 10%;
    --shadow-color: 220 40% 2%;

    --color-primary: #{colors.darken(#{$color-primary}, 10%)};
    --color-primary-alpha: #{colors.alpha(var(--color-primary), 20%)};
    --color-primary-text: var(--color-text);
    --color-secondary: #{colors.darken(#{$color-secondary}, 10%)};
    --color-secondary-text: var(--color-text);
    --color-body: #{colors.darken(#{$color-body}, 80%)};
    --color-body-text: var(--color-text);
    --color-body-alpha: #{colors.alpha(var(--color-body), 20%)};
    --color-body-alpha-text: var(--color-text);
    --color-surface: #{colors.darken(#{$color-surface}, 80%)};
    --color-surface-text: var(--color-text);
    --color-element: #{colors.darken(#{$color-element}, 70%)};
    --color-element-text: var(--color-text);
    --color-element-alpha: #{colors.alpha(var(--color-element), 40%)};
    --color-element-text: var(--color-text);
    --color-element-alt: #{colors.darken(#{$color-element-alt}, 80%)};
    --color-element-alt-text: var(--color-text);
    --color-backdrop: #{colors.alpha(var(--color-body), 30%)};
    --color-info: #{colors.darken(#{$color-info}, 10%)};
    --color-info-text: var(--color-text);
    --color-success: #{colors.darken(#{$color-success}, 10%)};
    --color-success-text: var(--color-text);
    --color-warning: #{colors.darken(#{$color-warning}, 10%)};
    --color-warning-text: var(--color-text-alt);
    --color-error: #{colors.darken(#{$color-error}, 10%)};
    --color-error-text: var(--color-text);
    --color-border: #{colors.darken(#{$color-border}, 50%)};
    --color-border-alpha: #{colors.alpha(var(--color-border), 50%)};
  }
}

:where(html) {
  --shadow-xs: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  --shadow-sm: 0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
  --shadow-md: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-lg: 0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
  --shadow-xl: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-2xl: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
    0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}
