@use "@tntfx/theme";

.menuItemBase {
  position: relative;
  display: flex;
  width: 100%;
  height: theme.$elementHeight-md;
  min-height: theme.$elementHeight-md;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 theme.$spacing-sm;
  border: 1px solid transparent;
  border-radius: theme.$borderRadius-xs;
  text-align: start;

  > .icon {
    padding-right: theme.$spacing-sm;
  }

  > .link,
  > .text {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
  }
}
