// variants
.shape-outlined {
  border: 1px solid var(--color-border);
}
.shape-contained {
  border-color: var(--color-border);
  background-color: var(--color-element);
  color: var(--color-element-text);
}

$variants: (primary, secondary, destructive, success, warning, info, error);
@mixin withVariant($variant) {
  color: var(--color-#{$variant});

  &.shape-contained {
    border-color: var(--color-#{$variant});
    background-color: var(--color-#{$variant}-alpha);
    color: var(--color-#{$variant}-text);
  }

  &.shape-outlined {
    border-color: var(--color-#{$variant});
  }
}
@each $variant in $variants {
  .variant-#{$variant} {
    @include withVariant($variant);
  }

  .type-#{$variant} {
    @include withVariant($variant);
  }
}
