@use "@tntfx/theme";

.box {
  position: relative;
  z-index: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  &__title.text {
    color: theme.$color-primary;
    font-size: theme.$fontSize-xl;
    font-weight: theme.$fontWeight-md;
    line-height: theme.$lineHeight-xl;
    white-space: nowrap;
  }
}
