@use "@tntfx/theme" as *;

.error-content {
  width: 100%;

  &-desc {
    margin-top: size(md);
    font-size: $font-size-md;
  }

  &-details {
    margin-top: 10px;
    font-size: $font-size-sm;
  }
}
