@use "@tntfx/theme";

.error-content {
  width: 100%;

  &-desc {
    margin-top: theme.$spacing-md;
    font-size: theme.$fontSize-md;
  }

  &-details {
    margin-top: 10px;
    font-size: theme.$fontSize-sm;
  }
}
