@use "@tntfx/theme";

.taskbar {
  $self: &;

  @include theme.fill;
  @include theme.blur(2rem);
  overflow: hidden;
  background-color: theme.$color-element-alpha;
  color: theme.$color-element-alpha-text;

  // show at bottom
  // @include theme.belowMedium {
  &--bottom {
    @include theme.row;
    top: unset;
    height: theme.$elementHeight-xl;
    border-top: 1px solid theme.$color-border;

    #{$self}__divider {
      border: 1px dashed theme.$color-border;
      margin: 0 theme.$spacing-md;
    }

    #{$self}__start {
      @include theme.row;

      > .icon:not(:last-child) {
        margin: 0 theme.$spacing-md;
      }
    }

    #{$self}__middle {
      @include theme.row(center);
      flex: 1;
    }

    #{$self}__end {
      @include theme.row;
      padding-right: theme.$spacing-sm;

      .dateTime {
        min-width: 80px;
        &__time {
          font-size: theme.$fontSize-lg;
        }
        &__date {
          font-size: theme.$fontSize-sm;
        }
      }
    }
  }

  // show at left
  // @include theme.aboveMedium {
  &--left {
    right: unset;
    width: calc(1.25 * theme.$elementHeight-xl);
    flex-flow: column-reverse nowrap;
    align-items: center;
    border-right: 1px solid theme.$color-border;

    #{$self}__divider {
      width: theme.$size-md;
      height: 0 !important;
      border: 1px dashed theme.$color-border;
      margin: theme.$spacing-md 0;
    }

    #{$self}__start {
      flex-direction: column-reverse !important;

      > .icon:not(:last-child) {
        margin: theme.$spacing-md 0;
      }
    }

    #{$self}__middle {
      flex: 1;
      justify-content: center;
    }

    #{$self}__end {
      padding-top: theme.$spacing-sm;

      .dateTime {
        min-height: 50px;
        padding: 0;

        &__time {
          font-size: theme.$fontSize-lg;
        }
        &__date {
          font-size: theme.$fontSize-xs;
        }
      }
    }
  }
}
