@use "@tntfx/theme";

.taskbar {
  @include theme.fill;
  background-color: var(--color-element);
  color: var(--color-element-text);
  overflow: hidden;

  @include theme.belowMedium {
    // show at bottom
    @include theme.row;
    top: unset;
    height: theme.$elementHeight-xl;
    border-top: 1px solid var(--color-border);

    &__start {
      @include theme.row;
      margin: 0 theme.$spacing-sm;
    }

    &__middle {
      @include theme.row;
      flex: 1;
      justify-content: flex-start;
    }

    &__end {
      @include theme.row;
      margin: 0 theme.$spacing-sm;

      .icon {
        padding-right: theme.$spacing-md;
      }

      .dateTime {
        &__time {
          font-size: theme.$fontSize-lg;
        }
        &__date {
          font-size: theme.$fontSize-md;
        }
      }
    }
  }

  @include theme.aboveMedium {
    // show at left
    right: unset;
    width: calc(1.25 * theme.$elementHeight-xl);
    border-right: 1px solid var(--color-border);

    &__start {
      margin: theme.$spacing-sm 0;
      flex-direction: column !important;
    }

    &__middle {
      flex: 1;
      justify-content: flex-start;
    }

    &__end {
      margin: theme.$spacing-sm 0;
      align-items: center;

      .dateTime {
        &__time {
          font-size: theme.$fontSize-md;
        }
        &__date {
          font-size: theme.$fontSize-sm;
        }
      }
    }
  }
}
