@use "@tntfx/theme";

$size: 10px;
$barOffset: -5px;
$cornerSize: 20px;
$cornerOffset: -10px;

.frame.box {
  .resize {
    position: absolute;
    z-index: theme.$layer-window;
    border: 1px solid transparent;
    background: transparent;
  }

  .resize-top,
  .resize-bottom {
    right: $size;
    left: $size;
    height: $size;
    cursor: ns-resize;
  }

  .resize-top {
    top: $barOffset;
  }

  .resize-bottom {
    bottom: $barOffset;
  }

  .resize-left,
  .resize-right {
    top: $size;
    bottom: $size;
    width: $size;
    cursor: ew-resize;
  }

  .resize-left {
    left: $barOffset;
  }

  .resize-right {
    right: $barOffset;
  }

  .resize-top-left,
  .resize-top-right,
  .resize-bottom-left,
  .resize-bottom-right {
    width: $cornerSize;
    height: $cornerSize;
  }

  .resize-top-left {
    top: $cornerOffset;
    left: $cornerOffset;
    cursor: nwse-resize;
  }

  .resize-top-right {
    top: $cornerOffset;
    right: $cornerOffset;
    cursor: nesw-resize;
  }

  .resize-bottom-right {
    right: $cornerOffset;
    bottom: $cornerOffset;
    cursor: nwse-resize;
  }

  .resize-bottom-left {
    bottom: $cornerOffset;
    left: $cornerOffset;
    cursor: nesw-resize;
  }
}
