@import "@tntfx/theme";

%section {
  position: relative;
  overflow: visible;
  height: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.toolbar {
  @extend %no-select;
  z-index: var(--layer-window);
  overflow: visible;
  width: 100%;
  height: var(--layout-height-toolbar);
  border-radius: inherit;
  white-space: nowrap;

  .svg {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }

  .icon {
    padding: var(--layout-spacing-xxs);
    border: 0;
  }

  .button:not(.icon) {
    min-width: var(--layout-width-element-md);
    margin: 0 var(--layout-spacing-md);
  }

  .form-element {
    flex: 1;
    margin: 0;
  }

  &-title {
    @extend %section;

    .text {
      padding: 2px var(--layout-spacing-xs) 0 0;
    }
  }

  &-section {
    @extend %section;
    flex: 1;
    padding: var(--layout-spacing-sm);
  }

  &-controls {
    @extend %section;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: 0;

    .icon {
      @include hover;
      align-self: flex-start;
      padding: 4px var(--layout-spacing-sm);
      border-radius: 0;

      &-cross:not(:disabled, .disabled, ._disabled) {
        &:hover {
          background-color: var(--color-error);
          color: var(--color-error-text);
        }
      }
    }
  }
}
