@use "@tntfx/theme";

.link {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  color: inherit;
  cursor: pointer;
  text-decoration-color: theme.$color-active-text;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.75px;

  .svg {
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.25rem;
  }
}
