@use "@tntfx/theme";

.text {
  padding: 0;
  margin: 0;
  font-size: theme.$fontSize-md;
  font-weight: theme.$fontWeight-sm;
  line-height: theme.$lineHeight-md;
  text-align: inherit;

  &.variant-primary {
    color: var(--color-primary);
  }

  &.variant-secondary {
    color: var(--color-secondary);
  }
  &.variant-destructive {
    color: var(--color-error);
  }

  &.size-xxsmall {
    font-size: theme.$fontSize-xxs;
    font-weight: theme.$fontWeight-xxs;
    line-height: theme.$lineHeight-xxs;
  }
  &.size-xSmall {
    font-size: theme.$fontSize-xs;
    font-weight: theme.$fontWeight-xxs;
    line-height: theme.$lineHeight-xs;
  }

  &.size-small {
    font-size: theme.$fontSize-sm;
    font-weight: theme.$fontWeight-sm;
    line-height: theme.$lineHeight-sm;
  }

  &.size-medium {
    font-size: theme.$fontSize-md;
    font-weight: theme.$fontWeight-md;
    line-height: theme.$lineHeight-md;
  }

  &.size-large {
    font-size: theme.$fontSize-lg;
    font-weight: theme.$fontWeight-md;
    line-height: theme.$lineHeight-md;
  }

  &.size-xLarge {
    font-size: theme.$fontSize-xl;
    font-weight: theme.$fontWeight-lg;
    line-height: theme.$lineHeight-xl;
  }

  &.size-xxlarge {
    font-size: theme.$fontSize-xxl;
    font-weight: theme.$fontWeight-xl;
    line-height: theme.$lineHeight-xxl;
  }

  &.size-xxxlarge {
    font-size: theme.$fontSize-xxxl;
    font-weight: theme.$fontWeight-xxl;
    line-height: theme.$lineHeight-xxxl;
  }
}
