@use "@tntfx/theme" as *;

.text {
  padding: 0;
  margin: 0;
  font-size: $font-size-md;
  font-weight: $font-weight-sm;
  line-height: $line-height-md;
  text-align: inherit;

  &.variant-primary {
    color: var(--color-primary);
  }

  &.variant-secondary {
    color: var(--color-secondary);
  }
  &.variant-destructive {
    color: var(--color-error);
  }

  &.size-2xSmall {
    font-size: $font-size-2xs;
    font-weight: $font-weight-2xs;
    line-height: $line-height-2xs;
  }
  &.size-xSmall {
    font-size: $font-size-xs;
    font-weight: $font-weight-2xs;
    line-height: $line-height-xs;
  }

  &.size-small {
    font-size: $font-size-sm;
    font-weight: $font-weight-sm;
    line-height: $line-height-sm;
  }

  &.size-medium {
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    line-height: $line-height-md;
  }

  &.size-large {
    font-size: $font-size-lg;
    font-weight: $font-weight-md;
    line-height: $line-height-lg;
  }

  &.size-xLarge {
    font-size: $font-size-xl;
    font-weight: $font-weight-lg;
    line-height: $line-height-xl;
  }

  &.size-2xLarge {
    font-size: $font-size-2xl;
    font-weight: $font-weight-xl;
    line-height: $line-height-2xl;
  }

  &.size-3xLarge {
    font-size: $font-size-3xl;
    font-weight: $font-weight-2xl;
    line-height: $line-height-3xl;
  }
}
