.text {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-sm);
  line-height: var(--line-height-md);
  text-align: inherit;

  &.variant-primary {
    color: var(--color-primary);
  }

  &.variant-secondary {
    color: var(--color-secondary);
  }
  &.variant-destructive {
    color: var(--color-error);
  }

  &.size-xxSmall {
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-xxs);
    line-height: var(--line-height-xxs);
  }
  &.size-xSmall {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-xs);
    line-height: var(--line-height-xs);
  }

  &.size-small {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: var(--line-height-sm);
  }

  &.size-medium {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
    line-height: var(--line-height-md);
  }

  &.size-large {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
    line-height: var(--line-height-lg);
  }

  &.size-xLarge {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-xl);
    line-height: var(--line-height-xl);
  }

  &.size-xxLarge {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-xxl);
    line-height: var(--line-height-xxl);
  }

  &.size-xxxLarge {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-xxxl);
    line-height: var(--line-height-xxxl);
  }
}
