@use "@tntfx/theme";

.title {
  overflow: hidden;
  padding: theme.$spacing-xl 0 theme.$spacing-md -1 * theme.$spacing-sm;
  color: theme.$color-primary;
  font-size: theme.$fontSize-lg;
  line-height: theme.$lineHeight-xxl;
  text-overflow: ellipsis;
  white-space: nowrap;
}
